PORT=3000
APP_ENV=development
JWT_SECRET=minha-chave-secreta
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=urlshortener
DB_SSLMODE=disable
REDIS_URL=localhost
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_TLS=false